

{% extends "admin/base.html" %}

{% load static %}
{% block extrastyle %}
<title>Админка Бота</title>
<link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
<link rel="icon" href="{% static 'images/logo.png' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Админка Бота</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

